footer {
  display: flex;
  background-color: $cor2;
  height: 15rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

footer p {
  text-align: center;
  color: $cor-texto;
  font-size: 2rem;
}

footer a {
  font-size: 2rem;
  color: $cor-texto;
}
