@media (max-width: 425px) {
  .contato-form button {
    width: 100%;
    font-size: 2rem;
  }

  footer {
    padding: 2rem 0;
    height: auto;
  }

  .button-voltar {
    padding: 0 1rem;
  }

  .container-form h2 {
    font-size: 3.5rem;
  }

  .container-form select {
    font-size: 2rem;
  }
}
