$cor1: #122ab2;
$cor2: #2c70ff;
$cor3: #a4a4a4;
$cor5: #ede106;
$cor6: #b10909;
$cor7: #66d9eb;
$cor8: #ae81ff;
$cor9: #f9265e;
$cor10: #7c7c7c;
$cor-texto: #ffffff;
$cor-texto2: #222222;

$font-size-base: 62.5%;
$max-width-content: 96rem;

:root {
  font-size: $font-size-base;
}
