@import "variaveis";
@import "header";
@import "sobre";
@import "produtos";
@import "preco";
@import "qualidade";
@import "contato";
@import "footer";
@import "boardAluguel";

@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $cor-texto2;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

main h1 {
  font-size: 4.8rem;
  line-height: 1;

  max-width: $max-width-content;
  margin: 0 auto;
  padding: 6rem 1rem;
}
